body{
    background-color: lightblue;
}
p{
    font-size: 50px;
}
.p1{
    background-color: firebrick;
    color: rgb(104, 30, 96);
    text-align: center;
}
.p2{
    font-family: Georgia, Times, "Times New Roman", serif;
}
.p3{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
}
.p4{
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 700;
}
.p5{
    font-family: cursive;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-position: under;
    text-decoration-color: lightgoldenrodyellow;
}
.p6{
    font-family: "Rubik Doodle Triangles", system-ui;
    text-shadow: 0 0 15px green;
}
.p7{
    font-family: "Rubik Glitch Pop", system-ui;
    text-shadow: 2px 2px 15px green, 4px -4px violet;

}
.p8{
    font-family: "Lobster", sans-serif;
}
.p9{
    text-transform: uppercase;
}

.p10{
    font-family: "Rubik Broken Fax", system-ui;
    text-shadow: 2px 2px 15px greenyellow, 4px -4px darkred;
    color: rosybrown;
}

.p11{
    font-family: "Rubik Bubbles", system-ui;
    text-shadow: 2px 2px 15px darkblue, 4px -4px darkkhaki;
}

.p12{
    font-family: "Amatic SC", sans-serif;
    color: hotpink;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-position: under;
    text-decoration-color: red;
}

.s1{
    font-size: 1.5em;
    color: navy;
    font-family: "Rubik Burned", system-ui;
}